{% extends 'main/base.html' %}
{% block title %}
Todo List
{% endblock %}

{% block main %}
<table class="table">
    <thead>
    <tr>
        <td scope="col">ID</td>
        <td scope="col">Name</td>
        <td scope="col">priority</td>
        <td scope="col">Description</td>
        <td scope="col">Actions</td>
    </tr>
    </thead>

    <tbody>
    {% for task in task_list %}
    <tr>
        <td scope="col">{{task.id}}</td>
        <td scope="col">{{task.name}}</td>
        <td scope="col">{{task.priority}}</td>
        <td scope="col">{{task.description | truncatewords:5 | title}}</td>
        <td>
            <a class="btn btn-info" href="{% url 'ToDo:todo-details' task.id  task.name %}">View</a>
            <a class="btn btn-info" href="{% url 'ToDo:todo-update' task.id %}">Update</a>
            <a class="btn btn-danger" href="{% url 'ToDo:todo-delete' task.id %}">Delete</a>

        </td>
    {% endfor %}






    </tbody>
</table>
{% endblock %}

